<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/public/style.css">

    <title>Portal Winchester</title>
</head>
<body>
  <header>
      <div class="center">
        <div class="logo">
           <a href="/"><h2 class="portal">Portal <span>Winchester</span></h2></a>
        </div><!--Logo-->
        <div class="form-busca">
          <form action="/">
            <i class='fas fa-search'></i>
            <input name="busca" type="text" placeholder="Buscar...">
         </form><!--Form-->
        </div><!--Form-Busca-->
      </div><!--Center-->
  </header>
